<div>
  <div>
    <h1>
      List of all menus
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new menu
    </h2>

    <form action="/insert_menu" method="post">
      <div>
        <label for="event_id_box">
          Event
        </label>

        <input type="text" id="event_id_box" name="query_event_id">
      </div>

      <div>
        <label for="recipe_id_box">
          Recipe
        </label>

        <input type="text" id="recipe_id_box" name="query_recipe_id">
      </div>

      <div>
        <label for="remarks_box">
          Remarks
        </label>

        <input type="text" id="remarks_box" name="query_remarks">
      </div>

      <button>
        Create menu
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Event
        </th>

        <th>
          Recipe
        </th>

        <th>
          Remarks
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_menus.each do |a_menu| %>
      <tr>
        <td>
          <%= a_menu.id %>
        </td>

        <td>
          <%= a_menu.event_id %>
        </td>

        <td>
          <%= a_menu.recipe_id %>
        </td>

        <td>
          <%= a_menu.remarks %>
        </td>

        <td>
          <%= time_ago_in_words(a_menu.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_menu.updated_at) %> ago
        </td>

        <td>
          <a href="/menus/<%= a_menu.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
