<div>
  <div>
    <h1>
      <%= @the_recipe.name %>
    </h1>

    <div>
      <div>
        <a href="/recipes">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_recipe/<%= @the_recipe.id %>">
          Delete recipe
        </a>
      </div>
    </div>
</div>
<hr>
<h3>Make this Today</h3>
  <form action = "/plan_recipe" method = "post">
  <label for="guest_count">Cooking for:</label>
  <input id="guest_count" name="guest_count">
  <input type="hidden" name="recipe_id" id="recipe_id" value=<%=@the_recipe.id%>>
<button>Generate a Plan</button>
<hr>


<div>
  <div>
    <h2>
      Review Recipe
    </h2>

    <form action="/modify_recipe/<%= @the_recipe.id %>"  method="post" >
      <div class="form-field">
        <label for="user_id_box">
          User
        </label><br>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_recipe.user_id %>" class="field-content">
      </div>

      <div class="form-field">
        <label for="name_box">
          Name
        </label><br>

        <input type="text" id="name_box" name="query_name" value="<%= @the_recipe.name %>" class="field-content">
      </div>

      <div class="form-field">
        <label for="description_box">
          Description
        </label><br>

        <textarea id="description_box" name="query_description" class="field-content"><%= @the_recipe.description %></textarea>
      </div>

      <div class="form-field">
        <label for="reference_url_box">
          Reference url
        </label><br>

        <input type="text" id="reference_url_box" name="query_reference_url" value="<%= @the_recipe.reference_url %>" class="field-content">
      </div>

      <div class="form-field">
        <label for="ingredients_box">
          Ingredients
        </label><br>

        <textarea id="ingredients_box" name="query_ingredients" class="field-textarea"><%= @the_recipe.ingredients %></textarea>
      </div>

      <div class="form-field">
        <label for="steps_box">
          Steps
        </label><br>

        <textarea id="steps_box" name="query_steps" class="field-textarea"><%= @the_recipe.steps %></textarea>
      </div>

      <div class="form-field">
        <label for="note_box">
          Note
        </label><br>

        <textarea id="note_box" name="query_note" class="field-textarea"><%= @the_recipe.note %></textarea>
      </div>

      <button>
        Save Changes
      </button>
    </form>
  </div>
</div>

<hr>
