<div>
  <div>
    <h1>
      <%= @the_event.id %>
    </h1>

    <div>
      <div>
        <a href="/events">Go back</a>
      </div>

      <div>
        <a href="/delete_event/<%= @the_event.id %>">Delete event</a>
      </div>
    </div>

    Date: <%= @the_event.event_date %>

      <div>
        Guest count: <%= @the_event.guest_count %>
      </div>
  </div>
</div>
<hr>
<h3>What's on the menu?</h3><br>
<table>
<tr>
  <th>Course</th>
  <th>Dish Name</th>
  <th>Recipe Reference</th>
</tr>
<%@the_event.dishes.each do |dish|%>
<tr>
  <td><%=dish.course%></td>
  <td><%=dish.description%></td>
  <td><a href=<%=dish.recipe%>>Link</a></td>
</tr>
<%end%>
<form action="/insert_dish" method="post">
<tr>
  <td><br><input id="query_course" type="text" name="query_course" placeholder="e.g. Appetizer"></td>
  <td><br><input id="query_description" type="text" name="query_description" placeholder="e.g. Deviled Eggs"></td>
  <td><br><input id="query_recipe" type="text" name="query_recipe" placeholder="URL (optional)"></td>
</tr>
<tr>
  <td>
  <input id="query_event_id" type="hidden" name="query_event_id" value=<%=@the_event.id%>>
  <button>Add dish to menu</button>
  </td>
</tr>
</form>
</table>
<hr>

<button action="/get_recipes">Next: Get Recipes</button>


<!-- to be moved into modal later
<div>
  <div>
    <h3>
      Edit event
    </h3>

    <form action="/modify_event/<%= @the_event.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_event.user_id %>">
      </div>

      <div>
        <label for="event_date_box">
          Event date
        </label>

        <input type="date" id="event_date_box" name="query_event_date" value="<%= @the_event.event_date %>">
      </div>

      <div>
        <label for="guest_count_box">
          Guest count
        </label>

        <input type="text" id="guest_count_box" name="query_guest_count" value="<%= @the_event.guest_count %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_event.description %></textarea>
      </div>

      <button>
        Update event
      </button>
    </form>
  </div>
</div>

<hr>
--> 
