<div>
  <div>
    <h1>
      Dish #<%= @the_dish.id %> details
    </h1>

    <div>
      <div>
        <a href="/dishes">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_dish/<%= @the_dish.id %>">
          Delete dish
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Event
      </dt>
      <dd>
        <%= @the_dish.event_id %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_dish.description %>
      </dd>

      <dt>
        Course
      </dt>
      <dd>
        <%= @the_dish.course %>
      </dd>

      <dt>
        Recipe
      </dt>
      <dd>
        <%= @the_dish.recipe %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_dish.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_dish.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit dish
    </h2>

    <form action="/modify_dish/<%= @the_dish.id %>"  method="post" >
      <div>
        <label for="event_id_box">
          Event
        </label>

        <input type="text" id="event_id_box" name="query_event_id" value="<%= @the_dish.event_id %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_dish.description %>">
      </div>

      <div>
        <label for="course_box">
          Course
        </label>

        <input type="text" id="course_box" name="query_course" value="<%= @the_dish.course %>">
      </div>

      <div>
        <label for="recipe_box">
          Recipe
        </label>

        <input type="text" id="recipe_box" name="query_recipe" value="<%= @the_dish.recipe %>">
      </div>

      <button>
        Update dish
      </button>
    </form>
  </div>
</div>

<hr>
